QWEN_MODEL_PATH=models\qwen\Qwen3-4B-Instruct-2507-Q4_K_M.gguf
## i have models folder in my project directory, 
## and inside it, I have a subfolder named 'qwen' 
## where the model file 'Qwen3-4B-Instruct-2507-Q4_K_M.gguf' 
## is located. This path is used to specify the location of 
## the model for loading and inference purposes in 
## the application.
